<h2> Current items in your cart: </h2> 
<ul>
    <% cart.each do |item|%>
    <li> <%= item %></li><br>
    <%end%>
</ul>

<h1>Our Products for You</h1> 
<!-- below: add_to_cart_path == ({controller: "products", action:"add", method:"post"})-->
<%=form_tag (add_to_cart_path) do %>
    <label>Product:</label><br>
    <input type="text"  name="product"><br>

    <input type="submit" value="add to cart">
<%end%>